Source: lmqtcreator-plugin-linkmotion
Section: devel
Priority: optional
Maintainer: Juhapekka Piiroinen <juhapekka.piiroinen@link-motion.com>
Build-Depends: debhelper (>= 9),
               qt5-qmake (>= 5.3),
               qtdeclarative5-dev-tools (>=5.3),
               qtdeclarative5-dev (>=5.3),
               lmqtcreator-dev (>= 3.5.0~),
               pkg-config,
Standards-Version: 3.9.4
Homepage: http://www.link-motion.com

Package: lmqtcreator-plugin-linkmotion
Architecture: any
Depends: qtdeclarative5-controls-plugin,
         ${shlibs:Depends},
         ${misc:Depends},
Description: LinkMotion plugin for Qt Creator IDE
 Qt Creator is a lightweight, cross-platform integrated development
 environment (IDE) designed to make development with the Qt application
 framework even faster and easier.
 .
 This package contains the LinkMotion plugin for Qt Creator.
