#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export CFLAGS := $(shell dpkg-buildflags --get CFLAGS) $(shell dpkg-buildflags --get CPPFLAGS)
export CXXFLAGS := $(shell dpkg-buildflags --get CXXFLAGS) $(shell dpkg-buildflags --get CPPFLAGS)
export LDFLAGS := $(shell dpkg-buildflags --get LDFLAGS) -Wl,--as-needed
export QT_SELECT := qt5
export QTC_BUILD := $(CURDIR)/debian/tmp/opt/linkmotion/qtcreator
export QTC_SOURCE := /opt/linkmotion/src/qtcreator
export QTC_INSTALL := /opt/linkmotion/qtcreator
export QTC_PREFIX := /opt/linkmotion/qtcreator

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

# -----------------------------------

%:
	dh $@ --fail-missing --parallel

override_dh_auto_configure:
	dh_auto_configure -- IDE_LIBRARY_BASENAME=lib QMAKE_STRIP=: -r 
 
#override_dh_auto_test:
#	cd builddir/linkmotion && LD_LIBRARY_PATH=/opt/linkmotion/qtcreator/lib/qtcreator:/opt/linkmotion/qtcreator/lib/qtcreator/plugins/QtProject make check

override_dh_shlibdeps:
	dh_shlibdeps -l/opt/linkmotion/qtcreator/lib/qtcreator:/opt/linkmotion/qtcreator/lib/qtcreator/plugins/QtProject
